*{
	margin: 0;
	padding: 0;
}
#contenedor{
	width: 900px;
	height: 500px;
	background: #dcdfe1;
	margin: 0.5em auto;
	padding: 0.5em;

}
#arriba{
	height: 200px;
	background: #9ec0de;
	border-top:2px solid #000;
	border-right:2px solid #000;
	border-bottom:2px solid #000;
	border-left:2px solid #000;
	
}
#abajo{
	height: 300px;
	background: #dce23c;
}
#informacion{
	width: 120px;
	height: 300px;
	background:#000;
	float: left;
}
#area{
	width: 778px;
	height: 300px;
	background:#e9ebba;
	float: right;
	border-bottom:2px solid #000;
	border-right:2px solid #000;
}
ul.menu {
width: 100px;

list-style: none;
margin: 0;
padding: 0;
border-left:1px solid #7C7C7C;
margin: 0.5em auto;
}

ul.menu li a:link, ul.menu li a:visited {
height: 29px;
padding: .3em;
display: block;
text-decoration: none;
color: #333;
background: #F4F4F4;
border-top:1px solid #7C7C7C;
border-right:1px solid #7C7C7C;
border-bottom:1px solid #9C9C9C;
}
ul.menu li a:hover{
	background-color: #5ed83d;
}
img {
	width: 620px;
	position: absolute;
	top: 20px;
	bottom: 0;
	right: 0;
	left: 390px;
}
#arriba p{
	text-align: center;
	display: block;
}
#area p{
	position: absolute;
	top: 250px;
	bottom: 0;
	right: 0;
	left: 450px;
}